{
  "MonedasFunction": {
    "PG_HOST": "your-database-host.rds.amazonaws.com",
    "PG_USER": "your-db-user",
    "PG_PASSWORD": "your-db-password",
    "PG_DATABASE": "ateneaposall",
    "PG_PORT": "5432",
    "NODE_ENVIRONMENT": "QA"
  }
}
